body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
}

.layout {
  &__content {
    flex: 1;
    display: flex;
    max-width: 1125px;
    margin: auto;
  }

  &__descriptionSection {
    max-width: 515px;
  }
}
